<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 rounded-full mr-2 flex justify-center items-center" style="background-color: #0070f3">hi</div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">Writes about programming, tech, culture and whatever else.</p>
</div>